* {
    padding: 0px;
    margin: 0px;
}

#nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: red;
    height: 75px;
}

#img {
    width: 20%;
}

#img>a>img {
    width: 100%;
    height: 80px;
}

#search {
    display: flex;

}

#fuction {
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

#fuction button {
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: red;
}

#fuction span {
    font-size: 20px;
    color: white;
    font-weight: bold;
}

#nav h1 {
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
        'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

#search>input {
    padding: 10px 30px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
}

#search>button {
    padding: 10px 30px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
}

#stick {
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0px;
}

#cart-container {
    display: grid;
    width: 60%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    margin-top: 20px;



}

#cart-container img {
    width: 70%;
    height: 40%;
}

#cart-container div {
    height: 650px;
    padding: 10px;
    box-shadow: rgba(7, 7, 7, 0.35) 0px 5px 15px;
}

#cart-container>div h3,
p {

    margin: 10px;

}


#cart-container button:hover {
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

#cart-container button {
    background-color: red;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 15px;
}
#cart-container img:hover{
    width: 80%;
    cursor: pointer;
}

#total {
    width: 30%;
    height: 400px;
    position: sticky;
    top: 70px;
    left: 30px;
    margin-bottom: 0px;
    background-color: antiquewhite;

}

#total h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
        'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: red;
}

#flex {
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
}

form {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: red;
    margin-top: 10px;
    border-radius: 10px;


}


form input {
    width: 90%;
    margin: auto;
    padding: 10px 0px 10px 0px;
    margin-bottom: 7px;
    margin-left: 15px;

}

form+a>button {
    width: 100%;
    margin: auto;
    padding: 10px 0px 10px 5px;
    margin-top: 30px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;


}

form+a>button:hover {
    font-size: 20px;
    cursor: pointer;
    background-color: aqua;
    border: none;
    border-radius: 5px;
}

#offer {
    background-color: red;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
        'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    /* height: 50%; */
    color: white;

}

#offer>p+p {
    font-size: 60px;
    border: none;

}

@media screen and (min-width:701px) and (max-width:1000px) {

    /* Here Write all the necessery styles for Medium Screen size  */
    #nav {
        display: flex;
        flex-wrap: wrap;
    }

    #nav2 {
        display: flex;
        flex-wrap: wrap;
    }

    #cart-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 20px;
        margin-top: 40px;


    }
}